/umetalod_test_unity5/Assets/Editor/CrossPlatformInput
/umetalod_test_unity5/Assets/Editor/CrossPlatformInput.meta
/umetalod_test_unity5/Assets/Editor.meta
/umetalod_test_unity5/Assets/Standard Assets
/umetalod_test_unity5/Assets/Standard Assets.meta
/umetalod_test_unity5/Assets/UnityVS
/umetalod_test_unity5/Assets/UnityVS.meta
/umetalod_test_unity5/Library
/umetalod_test_unity5/Temp
/umetalod_test_unity5/obj

/umetalod_test_unity5/UnityVS*.*

/umetalod/umetalod/obj
